/** -------------------------------- IMPORTS -------------------------------- **/
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/** -------------------------------- GENERAL -------------------------------- **/
body {
    background-color: #f5eed8;
    font-family: "Amatic SC", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

.header-footer {
    background-color: rgba(228, 180, 85, 0.85);
    width: 100%;
    height: 11vh;
    position: fixed;
    z-index: 1;
}

.float-left {
    float: left;
    margin-left: 25px;
}

.float-right {
    float: right;
    margin-right: 25px;
}

/** Content - animation **/
@keyframes content-zoom {
    from {
        transform: scale(1);
        }
    to {
        transform: scale(1.2);
    }
}
/** Scrollbar **/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(228, 180, 85, 0.85)
}
::-webkit-scrollbar-thumb {
    background: #58483a;
}
::-webkit-scrollbar-thumb:hover {
    background: #af672d;
}

/** Color of placeholder text **/
::placeholder {
    color: rgba(228, 180, 85, 0.85);
}
:-ms-input-placeholder {
    color: rgba(228, 180, 85, 0.85);
}
::-ms-input-placeholder {
    color: rgba(228, 180, 85, 0.85);
}

/** Color of "select" background **/
option {
    background: rgba(49, 54, 57, 0.95);;
}

/** -------------------------------- HEADER -------------------------------- **/
/** Header - Logo **/
#logo {
    float: left;
    font-size: 280%;
    margin-left: 35px;
}

/** Header - Menu **/
.active-page {
    border-bottom: 1px solid #58483a;
  }

/** Menu items - links **/  
#menu {
    font-size: 130%;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    text-transform: uppercase;
}
#menu a {
    color: inherit;
    text-decoration: none;
}
#menu a:hover {
    border-bottom: 1px solid #58483a;
}
#logo, #menu {
    line-height: 9vh;
    color: #58483a;
    font-family: "Vina Sans", Helvetica, sans-serif;
    letter-spacing: 2px;
}

/** -------------------------------- FOOTER -------------------------------- **/
/** Footer - size and position **/
footer {
    bottom: 0px;
    line-height: 100px;
    color: #58483a;
    font-family: "Vina Sans", Helvetica, sans-serif;
    font-size: 130%;
    letter-spacing: 2px;
    text-transform: uppercase;    
}

/** Footer - Socials **/
#socials{
    float: right;
    width: 30%;
    text-align: center;
    padding-right: 5%;
    font-size: 160%;
}
#socials a{
    color: inherit;
    text-decoration: none;
}
#socials > li {
    display: inline;
    padding-left: 25%;
}

/** Footer - Details **/
#footer-details {
    float: left;
    width: 60%;
}
#footer-details > li {
    display: inline;
    margin-left: 80px
}
#footer-details a {
    color: inherit;
    text-decoration: none;
}
#footer-details a:hover, #socials a:hover {
    border-bottom: 1px solid #58483a;
}
/** -------------------------------- HOME PAGE -------------------------------- **/
/** Outer container - home **/
#home-content-outer {
    background-color: #58483a;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 105px;
    bottom: 105px;
    overflow: hidden;
}
#home-content {
    width: 100%;
    height: 100%;
    background: url(../images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: content-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;    
}

/** Inner container - home **/
#home-content-text {
    color:#f5eed8;
    height: auto;
    width: 65%;
    position: absolute;
    right: 3%;
    bottom: 10%;    
    overflow: hidden;
    background-color: rgba(49, 54, 57, 0.95);
}
#home-content-text h2 {
    font-size: 300%;
    margin: 30px;
}

/** -------------------------------- DRINKS MENU -------------------------------- **/
/** Outer container - drinks **/ 
#drinks-content-outer {
    background-color: #58483a;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 105px;
    background-image: url(../images/drink-background.jpg);
    background-size: cover;
    padding-bottom: 100px;
    height: auto;
    border-bottom: 12vh solid #f5eed8;
}

/** Inner container - drinks category **/
.drink-selection {
    position: relative;
    top: 105px;
    width: 65vw;
    height: 370px;
    background-color: rgba(49, 54, 57, 0.95);
    margin-bottom: 25px;
}

/** Outer Round container - drink category image **/
.drink-heading {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 10px;
    top: 10px;
    padding: 25px;
    border-radius: 50%;
    background-color: rgba(228, 180, 85, 0.85);
}

/** Inner Round container - drink category image **/
.drink-menu-item-image {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/** Container - drink heading and list **/
.drink-details {
    padding-left: 40%;
    width: fill-content;
    height: 100%;
    color:#f5eed8;
    text-transform: uppercase;
}

/** Heading - drink category **/
.drink-details h2 {
    font-size: 300%;
    margin: 5px;

}

/** Unordered List - Drinks category **/
.drink-details ul {
    margin-top: 30px;
    margin-left: 5px;
    list-style-type: none;
}

/** List item - Drinks category **/
.drink-details li {
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 200%;
}

/** Drinks prices floating right **/
.drink-price {
    float: right;
    margin-right: 15px;
}

/** Drinks category - images and background colors **/
#red-wine {
    background-image: url(../images/red-wine.jpg);    
    background-color: #800000;    
}
#white-wine {
    background-image: url(../images/white-wine.jpg);
    background-color: #eeedc4;
}
#beer {
    background-image: url(../images/beer.jpg);
    background-color: #ff9001;
}
#cocktail {
    background-image: url(../images/cocktail.jpg);
    background-color: #ffb9bd;
}
#non-alcoholic {
    background-image: url(../images/non-alcoholic.jpg);
    background-color: #3eb489;
}

/** -------------------------------- FOOD MENU -------------------------------- **/
/** Outer container - food **/ 
#food-content-outer {
    background-color: #58483a;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 105px;
    background-image: url(../images/food-background.jpg);
    background-size: cover;
    padding-bottom: 100px;
    height: auto;
    border-bottom: 12vh solid #f5eed8;
}

/** Inner container - food category **/
.food-selection {
    position: relative;
    top: 105px;
    width: 85vw;
    height: 370px;
    background-color: rgba(49, 54, 57, 0.95);
    margin-bottom: 25px;
}

/** Outer Round container - food category image **/
.food-heading {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 10px;
    top: 10px;
    padding: 25px;
    border-radius: 50%;
    background-color: rgba(228, 180, 85, 0.85);
}

/** Inner Round container - food category image **/
.food-menu-item-image {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/** Container - food heading and list **/
.food-details {
    padding-left: 20%;
    width: fill-content;
    height: 100%;
    color:#f5eed8;
    text-transform: uppercase;
}

/** Heading - food category **/
.food-details h2 {
    font-size: 300%;
    margin: 30px;

}

/** Unordered List - Food category **/
.food-details ul {
    margin-top: 30px;
    margin-left: 75px;
    list-style-type: none;
}

/** List item - Food category **/
.food-details li {
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 200%;
}

/** Food prices floating right **/
.food-price {
    float: right;
    margin-right: 15px;
}

/** Drinks category - images and background colors **/
#apetizer {
    background-image: url(../images/apetizer.jpg);   
    background-color: #800000;    
}
#pizza {
    background-image: url(../images/pizza.jpg);
    background-color: #eeedc4;
}
#pasta {
    background-image: url(../images/pasta.jpg);
    background-color: #ff9001;
}
#dessert {
    background-image: url(../images/dessert.jpg);
    background-color: #ffb9bd;
}
#gelato {
    background-image: url(../images/gelato.jpg);
    background-color: #3eb489;
}

/** -------------------------------- RESERVATIONS -------------------------------- **/
/** Outer container - Reservations **/
#reserve-content-outer {
    background-color: #58483a;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 105px;
    bottom: 105px;
    overflow: hidden;
}
#reserve-content {
    width: 100%;
    height: 100%;
    background: url(../images/reserve-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: content-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;    
}

/** Inner container - Reservations **/
#reserve-content-text {
    color:#f5eed8;
    height: auto; 
    width: auto;
    position: absolute;
    top: 5vh;
    left: 1vw;
    background-color: rgba(49, 54, 57, 0.95);
}
#reserve-content-text td {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

/** Font of headings of reservation form - Reservations **/ 
#reserve-content-text h2 {
    font-size: 300%;
    margin: 1%;
}
#reserve-content-text legend {
    font-size: 200%;
    margin-left: 3%;
    font-weight: 600;
    line-height: 30px;
}
#reserve-content-text label {
    font-size: 150%;
}
.text-field {
    background: transparent;
    border: 1px solid #f5eed8;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    color:#f5eed8;
}
#request {
    width: 50vw;
}

/** Reserve button - Resrevations **/
#reserve-button {
    padding: 15px 32px;
    margin: 3%;
    background-color: rgb(228, 180, 85);
    color: rgb(49, 54, 57);
    border: 2px solid rgb(49, 54, 57);
    font-family: "Amatic SC", Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 600;
}
#reserve-button:hover {
    padding: 15px 32px;
    margin: 3%;
    color: rgb(228, 180, 85);
    background-color: rgb(49, 54, 57);
    border: 2px solid rgb(228, 180, 85);
}

fieldset {
    margin-top: 20px;
}

/** -------------------------------- MEDIA QUERIES -------------------------------- **/
@media screen and (max-width: 950px) {
    /** General hiding rule < 950px **/
    .hide-less-950 {
        display: none;    
    }
    /** Header styling < 950px **/
    .header-footer {
        height: 35px;
    }
    #logo {
        line-height: inherit;
        font-size: 100%;
        margin-left: 8px;
        margin-top: 5px;
    }
    /** Footer - size and position < 950px **/
    footer {
        bottom: 0px;
        line-height: inherit;
        font-size: 100%;
    }
    #footer-details {
        text-align: center;        
        font-size: 100%;
        width: 60%;
    }
    #socials{
        font-size: 120%;
    }
    #socials > li {
        padding-left: 15%;
    }
}