/** Imports **/
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body {
    background-color: #f5eed8;
}

/** General **/
* {
    margin: 0;
    padding: 0;
    border: none;
}

.header-footer {
    background-color: rgba(228, 180, 85, 0.85);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
}

hr {
    padding-top: 50px;
    width: 100%;
    height: 280px;
}


.float-left {
    float: left;
    margin-left: 25px;
}

.float-right {
    float:right;
    margin-right: 25px;
}

/** Header - Logo **/

#logo {
    float: left;
    font-size: 280%;
    margin-left: 35px;
}
/** Header - Menu **/
.active-page {
    border-bottom: 1px solid #58483a;
  }

#menu {
    font-size: 130%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    text-transform: uppercase;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #58483a;
}

#logo, #menu {
    line-height: 100px;
    color: #58483a;
    font-family: "Vina Sans", Helvetica, sans-serif;
    letter-spacing: 2px;
}

/** Footer **/

footer {
    bottom: 0px;
    line-height: 100px;
    color: #58483a;
    font-family: "Vina Sans", Helvetica, sans-serif;
    font-size: 130%;
    letter-spacing: 2px;
    text-transform: uppercase;    
}

/** Footer - Socials **/

#socials{
    float: right;
    width: 30%;
    text-align: center;
    padding-right: 5%;
    font-size: 160%;
}

#socials a{
    color: inherit;
    text-decoration: none;
}

#socials > li {
    display: inline;
    padding-left: 25%;
}

#footer-details {
    float: left;
    width: 60%;
}

/** Footer - Details **/

#footer-details a {
    color: inherit;
    text-decoration: none;
}

#footer-details a:hover, #socials a:hover {
    border-bottom: 1px solid #58483a;
}

/** Home - Content **/

#home-content-outer {
    background-color: #58483a;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 105px;
    bottom: 105px;
    overflow: hidden;
}

#home-content {
    width: 100%;
    height: 100%;
    background: url(../images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: home-content-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;    
}

#home-content-text {
    color:#f5eed8;
    height: auto;
    width: 65%;
    position: absolute;
    right: 3%;
    bottom: 10%;    
    overflow: hidden;
    background-color: rgba(49, 54, 57, 0.95);
}

#home-content-text h2 {
    font-size: 300%;
    font-family: "Amatic SC", Helvetica, sans-serif;
    margin: 30px;
}

/** Home screen - animation **/

@keyframes home-content-zoom {
    from {
        transform: scale(1);
        }
    to {
        transform: scale(1.2);
    }
}

/** Drinks Menu **/

#drinks-content-outer {
    background-color: #58483a;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 105px;
    background-image: url(../images/wineyard.jpg);
    background-size: cover;
    height: auto;
}

.drink-selection {
    position: relative;
    top: 105px;
    width: 70vw;
    height: 370px;
    background-color: rgba(49, 54, 57, 0.95);
    margin-bottom: 25px;
    color:#f5eed8;
    font-family: "Amatic SC", Helvetica, sans-serif;
    letter-spacing: 4px;
}

.drink-heading {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 10px;
    top: 10px;
    padding: 25px;
    border-radius: 50%;
    background-color: rgba(228, 180, 85, 0.85);
}

.drink-details {
    padding-top: 5%;
    padding-left: 45%;
    width: fill-content;
    height: 100%;
}

.drink-details h2 {
    font-family: "Vina Sans", Helvetica, sans-serif;
    letter-spacing: 6px;
    font-size: 250%;
    text-transform: uppercase;
}

.drink-details ul {
    margin-top: 30px;
    margin-left: 50px;
    list-style-type: none;
}

.drink-details li {
    font-family: "Vina Sans", Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 200%;
}

#red-wine {
    background-image: url(../images/red-wine.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #800000;
    border-radius: 50%;
}

#white-wine {
    background-image: url(../images/white-wine.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #eeedc4;
    border-radius: 50%;   
}

#beer {
    background-image: url(../images/beer.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #ff9001;
    border-radius: 50%;
}

#cocktail {
    background-image: url(../images/cocktail.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #ffb9bd;
    border-radius: 50%;
}

#non-alcoholic {
    background-image: url(../images/non-alcoholic.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #3eb489;
    border-radius: 50%;
}
