/** IMPORTS **/
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    background-color: #f9eec9;
}

/** General **/

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    color: #770d15;
}

/** Logo **/

#logo {
    font-family: "Gloria Hallelujah", Helvetica, sans-serif;
    float: left;
    font-size: 140%;
    margin-left: 35px;
}

#logo a {
    text-decoration: none;
}
